<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "July Soundcheck" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav data-topbar class="top-bar">
      <section class="top-bar-section">
        <ul class="left">
          <li class="has-dropdown large">
            <a data-dropdown="hover2" data-options: "is_over:false;">JSC</a>
            <ul class="dropdown">
              <li class = "hide-for-large-up active"><%= link_to "WRITE A REVIEW", new_review_path%></li>
              <li class = "hide-for-large-up divider"></li>
              <li class = "hide-for-large-up"><%= link_to "Reviews", reviews_path %></li>
              <li class = "hide-for-large-up divider"></li>
              <li class = "hide-for-large-up"><%= link_to "Artists", artists_path %></li>
              <li class = "hide-for-large-up divider"></li>
              <li class = "hide-for-large-up"><%= link_to "Albums", albums_path %></li>
              <!-- This is not DRY -->
              <li class = "hide-for-large-up has-dropdown large">
                <%= link_to current_user.displayname, current_user, data: { dropdown: "hover1", options: "is_hover:false; hover_timeout:333"}%>
                <ul class="dropdown menu-icon">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Activity Feed", current_user %></li>
                  <li><%= link_to "Settings", current_user %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Log out", logout_path %></li>
                </ul>
              </li>
          </ul>
          <li class = "hide-for-medium-down"> <%= link_to "Reviews", reviews_path%></li>
          <li class = "hide-for-medium-down"> <%= link_to "Artists", artists_path%></li>
          <li class = "hide-for-medium-down"> <%= link_to "Albums", albums_path%></li>
        </ul>
        <ul class = "right">
          <% if current_user %>
            <li class="active"><%= link_to "WRITE A REVIEW", new_review_path%></li>
            <li class="has-dropdown large">
              <%= link_to current_user.displayname, current_user, data: { dropdown: "hover1", options: "is_hover:true; hover_timeout:333"}%>
              <ul class="dropdown menu-icon">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Activity Feed", current_user %></li>
                <li><%= link_to "Settings", current_user %></li>
                <li class="divider"></li>
                <li><%= link_to "Log out", logout_path %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", new_session_path %></li>
            <li><%= link_to "Register", new_user_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
    <div class="row">
  <div class="large-12 columns"><%= yield %></div>
</div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
