<p id="notice"><%= notice %></p>
<%= console %>
<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Displayname</th>
      <th>Email</th>
      <th>Reviews</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.displayname, user %></td>
        <td><%= user.email %></td>
        <td>
          <% user.reviews.each do |review| %>
            <%= link_to review.album.title, review.album %> by
            <%= link_to review.album.artist.name, review.album.artist %> was rated
            <%= link_to review.contents, review %>
          </br>
          <% end %>
        </td>
        <!--<td><% link_to 'Edit', edit_user_path(user) %></td>-->
        <!--<td><% link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
