@model IEnumerable<JulySoundcheck.Models.Album>

@{
    ViewBag.Title = "Albums";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.AlbumName)
        </th>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.Artist.ArtistName)
        </th>
        <th class="col-md-2">
            Reviews
        </th>
        <th class="col-md-2">
            Average Rating
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-4">
            @Html.ActionLink(item.AlbumName, "Details", new { id = item.AlbumId })
        </td>
        <td class="col-md-4">
            @Html.ActionLink(item.Artist.ArtistName, "Details", "Artists", new { id = item.Artist.ArtistId }, null)
        </td>
        <td class="col-md-2">
            @Html.Raw(item.Reviews.Count())
            </td>
        <td class="col-md-2">
            @{
                float score = 0;
                foreach (var rev in item.Reviews)
                {
                    score += rev.Rating;
                }
                score /= item.Reviews.Count();
                @Html.Raw(score)
             }
            
        </td>
       <!-- <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumId })
        </td>-->
    </tr>
}

</table>
