<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.fields_for :album do |alb|%>
      <%= alb.fields_for :artist do |art|%>
        Artist name<br>
        <%= art.text_field :name, data: { typeahead: '', highlight: 'true', 'min-length': '1', hint: 'Artist name...', source: 'artists' } %>
      <br>
      Album title<br>
      <%=alb.text_field :title, data: { typeahead: '', highlight: 'true', 'min-length': '1', hint: 'Album name...', source: 'albums' } %><br>
      <% end %>
    <% end %>
    <%= f.label :contents %><br>
    <%= f.text_area :contents %><br>
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>

  <div class="actions">
    <%= f.submit class: "button radius" %>
    <%= link_to 'Cancel', reviews_path, class: "button radius secondary" %>
  </div>
<% end %>
