<p id="notice"><%= notice %></p>

<h1>All reviews</h1>

<table>
  <tbody>
    <tr>
      <td><b><%= sortable "name", "Artist"  %></b></td>
      <td><b><%= sortable "title", "Album"  %></b></td>
      <td><b><%= sortable "rating", "Review" %></b></td>
      <td><b><%= sortable "rating" %></b></td>
      <td><b><%= sortable "displayname", "User"  %></b></td>
    </tr>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to review.album.artist.name, review.album.artist%></td>
        <td><%= link_to  review.album.title, review.album%></td>
        <td><%= link_to  review.contents%></td>
        <td><%= review.rating%></td>
        <td><%= link_to  review.user.displayname, review.user%></td>
      </tr>
    <% end %>
  </tbody>
</table>
