@model IEnumerable<JulySoundcheck.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Artists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="col-md-5">
            @Html.DisplayNameFor(model => model.ArtistName)
        </th>
        <th class="col-md-2"></th>
        <th class="col-md-5">
            @Html.DisplayNameFor(model => model.Albums)
        </th>
</tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-5">
            @Html.DisplayFor(modelItem => item.ArtistName)
        </td>
        <td class="col-md-2">
        </td>
        <td class="col-md-2">
            @foreach (var a in item.Albums)
            {
                <p>@Html.ActionLink(a.AlbumName,"Details","Albums",new { id = a.AlbumId},null)</p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtistId })
        </td>
    </tr>
}

</table>
