<p id="notice"><%= notice %></p>

<h1>Listing <%= @artists.count %> Artists</h1>

<row>
  <table class="hover">
    <thead>
      <tr>
        <th width = "900">Name</th>
        <th class = "text-center" width = "500">Albums</th>
        <th width = "500">Highest Rated Album</th>
        <th class = "text-center" width = "500">Reviews</th>
        <th class = "text-center" width = "500">Average Review</th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td width = "900"><%= link_to artist.name, artist %></td>
          <td class = "text-center" width = "500"><%= artist.albums.count %></td>
          <td width = "500"><%= link_to artist.best_album[0].title, artist.best_album[0] %></td>
          <td class = "text-center" width = "500"><%= artist.review_count %></td>
          <td class = "text-center" width = "500"><%= artist.average_review %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</row>
<div class="row">
  <div class="large-12 columns">
    <%= will_paginate @artists, previous_label: h("<"),next_label: h(">") %><br>
  </div>
</div>
