<p id="notice"><%= notice %></p>

<p>
  <h1><%= @artist.name %></h1>
  <h3>Top Rated Album</h3>
  <%= link_to @artist.best_album.title, @artist.best_album%>
  <h3>Albums</h3>
  <% @artist.albums.each do |fluh| %>
  <%= link_to fluh.title, fluh %><br>
  <% end %>
</p>



<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
