@model IEnumerable<JulySoundcheck.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-striped">
    <tr>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.Album.Artist.ArtistName)
        </th>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.Album.AlbumName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Reviewee.DisplayName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.ContentsShort)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-3">
            @Html.ActionLink(item.Album.AlbumName, "Details", new { id = item.AlbumId })
        </td>
        <td class="col-md-3">
            @Html.ActionLink(item.Album.Artist.ArtistName, "Details", "Artists", new { id = item.Album.Artist.ArtistId }, null)
        </td>
        <td class="col-md-1">
            @Html.ActionLink(item.Reviewee.DisplayName, "Details", "Users", new { id = item.Reviewee.UserId }, null)
        </td>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td class="col-md-4">
            @Html.DisplayFor(modelItem => item.ContentsShort)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.ContentsLong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewId })
        </td>
            -->
    </tr>
}

</table>
