<p id="notice"><%= notice %></p>

<h2>Listing <%= @albums.count %> albums</h2>

<row>
  <div class="large-12 columns">
    <%= will_paginate @albums, previous_label: h("<"),next_label: h(">") %><br>
  </div>
  <table>
    <thead>
      <tr>
        <th width = "40%" >Album Name</th>
        <th width = "40%" >Artist Name</th>
        <th width = "10%" class="text-center">Reviews</th>
        <th width = "10%" class="text-center">Average Review</th>
      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td width = "40%" ><%= link_to album.title, album %></td>
          <td width = "40%" ><%= link_to album.artist.name, album.artist %></td>
          <td width = "10%" class="text-center"><%= album.reviews.count %></td>
          <td width = "10%" class="text-center">
            <%= album.average_review %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="large-12 columns">
    <%= will_paginate @albums, previous_label: h("<"),next_label: h(">") %><br>
  </div>
</row>
