<p id="notice"><%= notice %></p>
<%console%>
<h1><%=@album.artist.name%></h1>
<h3>
  <%= @album.title %>
</h3>
<h4> Reviews </h4>
<table>
  <tr>
    <th>Reviewer</th>
    <th>Rating</th>
    <th>Review</th>
  </tr>
<% @album.reviews.each do |review|%>
  <tr>
    <td><%= link_to review.user.displayname, review.user%></th>
    <td><%= review.rating %></th>
    <td><%= review.contents %></th>
    <td></th>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
